<h2>Train Name: <%= @train.name %></h2>

<h3>Train Destinations</h3>

List the cities
 
<% if @stops.any? %>
  <ul>
    <% @stops.each do |stop| %>
      <li><%= stop.city_name %></a></li>
    <% end %>
  </ul>
<% else %>
  <p>There are currently no cities to display.</p>
<% end %>



<p><a href="/trains/<%= @train.id %>/edit">Edit Train</a></p>
<p><a href="/albums">Return to album list</a></p>



city1   city2   city3 
train1  train2  train1
train2  train3  train3

train1  train2  train3
city1   city1   city2
city3   city2   city3

If cities
  Select cities to send this train to

no cities: THere are no cities

